.drop-down-menus {
  max-height: 15%;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/bg.jpg");
}

h1{
  text-align: center;
  color: white;
  margin-top: 40px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

form{
  margin-top: 40px;
}

.dropdown-toggle{
  width: 100%;
}

.dropdown-toggle::after {
  display: none;
}


p{
  margin-bottom: 0px;
}

.dropdown button{
  border: 1px solid #ced4da;
}

.dropdown i {
  float: right;
}

.dropdown p {
  float: left;
}

.dropdown-menu.show{
  max-height: 300px;
  overflow: scroll;
}

form{
  background-color: white;
  padding: 40px;
}

.fly{
  background-color: white;
  text-align: center;
  padding: 40px 20px 40px 20px;
  margin-top: 40px;
}

.drive{
  background-color: white;
  text-align: center;
  padding: 40px 20px 40px 20px;
  margin-top: 40px;
}

i.results{
  color: lightgrey; 
  font-size: 3em;
}

h2{
  color: darkgrey;
  font-size: 1em;
  margin-top: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

h3{
  font-size: 1.5em;
}


input:invalid {
  /* border: 1px solid tomato; */
}

input:valid {
  /* border: 2px solid black; */
}

.nofly{
  display: none;
  background-color: white;
  text-align: center;
  padding: 40px 20px 20px 20px;
  margin-top: 40px;
}

.nofly h2{
  width: 65%;
  margin: 0 auto;
  margin-top: 70px;
}
